@*@page "{handler}/{terrid?}"*@
@page "{handler}"
@model Arty.Pages.personalTerritory.CreateExModel
@{
}

<link rel="stylesheet" href="/css/modal-script.css">



<!--=======================================-->

<div class="container-lg mt-5">
	<!-- Back Button -->
	@if (Model.mode == Model.modeCreating)
	{
		<div class="text-right mb-3">
			<a asp-page="/personalTerritory/index" asp-route-id="@Model.personalTerritory.territoryId" class="btn btn-secondary">назад</a>
			<p>Участок : @Model.personalTerritory.Number</p>
			<form method="post" asp-page-handler="create">
				<input type="hidden" asp-for="@Model.personalTerritory.Number">
				<input type="hidden" asp-for="@Model.mode">
				<input type="hidden" asp-for="@Model.personalTerritory.territoryId">
				<button type="submit" class="btn btn-primary mt-2">создать</button>
			</form>
		</div>
	}
	else if (Model.mode == Model.modeEditing)
	{
		<div class="flex">
			<a asp-page="/personalTerritory/detail" asp-route-id="@Model.personalTerritory.Id" class="btn btn-secondary">назад</a>
			<button class="btn btn-outline-secondary" id="openModalBtn">добавить</button>
		</div>

		<h2>Участок : @Model.personalTerritory.Number</h2>

		<!-- Add street form -->
		<div id="myModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>


				<!-- Form -->
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<form method="post">

							<input type="hidden" asp-for="@Model.personalTerritory.territoryId">
							<input type="hidden" asp-for="@Model.personalTerritory.Id">

							<div class="form-group">
								<label for="inputName">Улица</label>
								<input type="text" class="form-control" name="streetName" placeholder="Enter street">
								<button asp-page-handler="address" type="submit" class="btn btn-primary mt-2">ок</button>
							</div>

@*                            <button asp-page-handler="address" type="submit" class="btn btn-primary mt-2">adr</button>
							<button asp-page-handler="building" type="submit" class="btn btn-primary mt-2">bld</button>*@

						</form>
					</div>
				</div>

			</div>
		</div>

		@foreach (var item in Model.personalTerritory.pterrLines)
		{
			<a class="btn btn-link m-1" asp-page="/personalTerritory/streetLine/edit" asp-route-id="@item.id"><b>@item.address</b></a>

			<br>
			@foreach (var line in item.BusinessPoints)
			{
				<p>@line.name</p>
			}
		}

		<!-- Для каждой части своя form со своей кнопкой.
			Для StreetLine своя form
			Для Building своя form
		-->
	}

</div>

<script src="/js/modal-script.js"></script>